html {
    background-image: url("DNG.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    border: 25px groove rgb(185, 185, 34);
}



.row {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgb(228, 186, 131);
    border: groove 10px rgb(185, 185, 34);
    width: fit-content;
    margin-top: 20pt;
    
}

#generate-btn {
    background-color: rgb(92, 18, 18);
    color: silver;
    font-family: fantasy;
    border: 10px groove silver;
    border-radius: 25px 0px 25px 0px;
    padding: 25px;
    

}

@keyframes button {
    0% {background-color: rgb(111, 74, 72)}
    10% {background-color: rgb(110, 76, 73) }
    20% {background-color: rgb(115, 68, 65)}
    30% {background-color: rgb(92, 54, 51) ;}
    40% {background-color: rgb(76, 16, 12) ;}
    50% {background-color: rgb(77, 17, 13) ;}
    60% {background-color: rgb(78, 18, 14) ;}
    70% {background-color: rgb(79, 15, 15) ;}
    80% {background-color: rgb(93, 20, 20) ;}
    90% {background-color: rgb(87, 19, 19) ;}
    100% {background-color: rgb(92, 18, 18) ;}


}

#generate-btn:hover {
  
   
   animation:backwards button 1s ease-in-out infinite;
}

#generate-btn:active {
    transform: scale(1.1);
}

#script {
    color: rgb(0, 59, 0);
    font-weight: bolder;
}

.char-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgb(228, 186, 131);
    border: groove 10px rgb(185, 185, 34);
    width: fit-content;
}

.m-5 {
    background-color: rgb(95, 46, 1);
    border: 4px rgb(0, 59, 0);
    border-style: solid;
    color: rgb(185, 185, 34);
    text-align: center;
     border-radius: 20% 20% 20% 20%;
}

::placeholder {
    color: rgb(185, 185, 34);
    text-align: center;
}

