html {
    background-image: url("DNG.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    border: 25px groove rgb(185, 185, 34);
}



.row {
    display: flex;
    justify-content: center;
}

.header {
    justify-content: center;
    align-content: center;
    background-image: url("../assets/images/green-velvet.png");
    background-position-x: center;
    background-position-y: center;
    border: groove 10px rgb(185, 185, 34);
    width: fit-content;
    margin-top: 35pt;

}

.stats {
    justify-content: center;
    align-content: center;
    background-image: url("../assets/old-paper-texture.png");
    background-position-x: center;
    background-position-y: center;
    border: groove 10px rgb(185, 185, 34);
    width: fit-content;
    margin-top: 35pt;
    margin-bottom: 35pt;
}

#generate-btn {

    background-image: url("../assets/red-velvet.png");
    background-position-x: center;
    background-position-y: center;
    color: silver;
  
    font-family: fantasy;

    border: 10px groove silver;
    border-radius: 25px 0px 25px 0px;
    padding: 25px;
    text-decoration: underline;
}

#header-script {
    color: rgb(185, 185, 34);
    font-weight: bolder;
    font-style: italic;

}

#stat-script {




}

#generate-btn:hover {
  
   
 
}

#generate-btn:active {
    transform: scale(1.1);
}

#script {

    color: rgb(0, 59, 0);
    font-weight: bolder;
}

.char-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-image: url("../assets/old-paper-texture.png");
    background-position-x: center;
    background-position-y: center;
    border: groove 10px rgb(185, 185, 34);
    width: fit-content;
}

.m-5,
#attack-input,
#defense-input,
#dexterity-input,
#charisma-input,
#constitution-input {
    background-color: rgb(95, 46, 1);
    border: 4px rgb(0, 59, 0);
    border-style: solid;
    color: rgb(185, 185, 34);
    text-align: center;
     border-radius: 20% 20% 20% 20%;
}

::placeholder {
    color: rgb(185, 185, 34);
    text-align: center;
}

